body {
    padding: 1.5rem;
    background-color: $color4;
    // background: linear-gradient($color3, $color4);
    background-repeat: repeat;
    background-image: url("../assets/Factory_LockedOffice.jpg");
    background-size: cover;
}

;