body {
    padding: 1.5rem;
    // background-color: $tarkov4;
    // background: linear-gradient($color3, $color4);
    background-repeat: repeat;
    background-image: url("../assets/tarkovmap_adobe_express.svg");
    background-size: cover;
}

;