// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.cdnfonts.com/css/bender');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

$color1: #9bbe5a;

$background-gradient-1: #3c3b3f;
$background-gradient-2: #605c3c;

$twitch-rgba-1: rgba(100, 65, 165, 0.7);
$twitch-rgba-2: rgba(100, 65, 165, 0.9);
$twitch-rgba-3: rgba(100, 65, 165, 0.7);
$twitch-rgba-4: rgba(100, 65, 165, 0.7);
$twitch-rgba-5: rgba(100, 65, 165, 0.7);

$youtube-rgba-1: rgba(255, 0, 0, 0.3);
$youtube-rgba-2: rgba(255, 0, 0, 0.5);
$youtube-rgba-3: rgba(255, 0, 0, 0.3);
$youtube-rgba-4: rgba(255, 0, 0, 0.3);
$youtube-rgba-5: rgba(255, 0, 0, 0.3);

$link-card-1: #8BC6EC;
$link-card-2: #9599E2;
$link-card-text: #000;

$img-border-color: #C19665;

@import "./halloween_2023";
// @import "./autumn_2024";
@import "./terminal_text_effect";

body {
    font-family: 'Bender', sans-serif;
    position: relative;
    /* Set your gradient background here */
    // background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    background: linear-gradient(to right, $background-gradient-1, $background-gradient-2);
    // background-color: #3c3b3f;
}

body::before {
    content: "";
    background-image: url('../assets/pattern.png');
    background-repeat: repeat;
    // background-size: contain;
    /* or any other size you prefer */
    background-position: center center;
    /* or any other position */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* This places the pseudo-element below the content */
}

#videoRow > div > a > * {
    border: 2px solid #fff;
}

.text-white {
    color: #fff;
}

.twitch-background {
    background-image: radial-gradient(circle, $twitch-rgba-1, $twitch-rgba-2, $twitch-rgba-3, $twitch-rgba-4, $twitch-rgba-5);
}

.youtube-background {
    background-image: radial-gradient(circle, $youtube-rgba-1, $youtube-rgba-2, $youtube-rgba-3, $youtube-rgba-4, $youtube-rgba-5);
}

.link-card {
    background-color: $link-card-1;
    background-image: linear-gradient(135deg, $link-card-1 0%, $link-card-2 100%);
    color: $link-card-text;
}

a {
    text-decoration: none;
}

/*
#9CAC7E,
#8BAE88,
#DEDFDF,
#81BBE1,
#68A3C9,
#C19665
*/

.img-border {
    border-style: solid;
    border-color: $img-border-color;
}

